.center{
    text-align: center;
}
body{
    background-color: #F8F5E9;
    font-family: "Poppins", sans-serif;
    padding: 25px;
    margin: 0;
    width:100%;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
#bake{
    color: #3A7D44;
    font-size: 2rem;
}
#dis{
    color: #DF6D14;
    font-size: 1.2rem;
}
#logo{
    font-size: 2rem;
    color: #3A7D44;

}
.order a{
    text-decoration: none;
    color: inherit;
}


.order {
    
    display: block;
    margin: auto;
    padding: 20px;
    border: none;
    background-color: #DF6D14;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    transition: all 0.3s;
    cursor: pointer;
    color: #F8F5E9;
}
.order:hover{
    color: #3A7D44;
    background-color: #9dc088;
    /* transform: translateY(-2px); */
    transform: scale(1.1);
}
.order:active{
    color: #9dc088;
    background-color: #3A7D44;
    transform: scale(0.95);
}


span{
    color: #DF6D14;
}

footer{
    background-color: #3A7D44;
    clear: both;
    color: #F8F5E9;
}
    
.card:hover{
    color: #3A7D44;
    background-color: #9dc088;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
}
.maincard{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card{
    color: #F8F5E9;
    border-radius: 10px;
    background-color: #3A7D44;
    text-align: center;
    transition: all 0.3s;
}
img{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

@media(max-width:480px){
    .maincard{
        grid-template-columns: repeat(1,1fr);
    }
    #logo{
        font-size: 1.4rem;
    }

}

@media (min-width:481px) and (max-width:800px){
    .maincard{
        grid-template-columns: repeat(2,1fr);
    }
    
}